.cardComponents {
  padding: 0.4rem;
  margin: 0rem 1rem 2.2rem 1rem;
  background-color: var(--color-background-container) !important;
  border-radius: 14px !important;
  box-shadow: var(--box-shadow) !important;
  border: 0.5px solid var(--color-border) !important;
}
