.inputHeader {
  margin-left: 10px !important;
  margin-right: 10px !important;
  margin-top: 16px !important;
}

.multiSelectHeader {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 16px !important;
}

.dateSelect {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.title {
  margin-top: 2rem !important;
  text-align: center;
}

.buttons {
  margin-top: 30px !important;
  display: flex;
  justify-content: space-between;
}
