.boxTitleTable {
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 2px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.TypographyH4 {
  font: 500 1.9rem Poppins !important;
  color: var(--color-title-in-primary) !important;
}

.divBoxTitle {
  border-bottom: 1px solid rgba(224, 224, 224, 1);
}
